@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body{
    background: #F1ECE9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.insert{
    color: #F1ECE9;
    background-color: #019EB1;
    border-radius: 0.375rem;
    box-shadow: 0.125rem 0.3125rem 0.1875rem #3ea3b16c;
    padding: 3rem;
    width: 25rem;
}

header img{
    width: 100%;
}

.financeiro{
    display: flex;
    flex-direction: column;
}

input{
    color: rgb(90, 90, 90);
    border-radius: 0.375rem;
    height: 2.5rem;
    text-align: center;
    font-size: 2rem;
}


input::placeholder{
    font-size: 1.7rem;
    color: rgba(37, 37, 37, 0.247);
}

input:focus{
    border-color: chocolate;
}

mark{
    font-size: .8rem;
    color: #F1ECE9;
    background: linear-gradient(to bottom, transparent 50%, #0a799b 50%);
    font-weight: 400;
}

p{
    overflow-y: hidden;
    line-height: .9rem;
    margin-bottom: .3rem;
}

#renda{
    margin-bottom: 1.5rem;
}


#juros{
    margin-bottom: .8rem;
}

button{
    display: flex;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background: #dfc310;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    cursor: pointer;
    box-shadow: 0rem -0.25rem 0rem #b49d02;
}

button:hover{
    box-shadow: 0rem 0rem 0rem transparent;
    background: linear-gradient(to right, #f5df4e, #d4ba0f);
    transition: all 0.5s ease;

}

@media (max-width: 600px){
    .insert{
        width: 100vw;
        height: 100vh;
    }
}